<p>myc04 works!</p>

<!-- ts的属性 可以使用 {{}} 在html中展示 -->
<ul>
  <li>{{ name }}</li>
  <li>{{ age }}</li>
  <li>{{ married }}</li>
  <li>{{ teachers }}</li>
  <li>{{ boss }}</li>
  <!-- 数组取值 依赖 下标 -->
  <li>{{ teachers[0] }}</li>
  <!-- 对象取值 依赖 .属性名 -->
  <li>{{ boss.name }}</li>
</ul>

<!-- {{}}中支持一些简单的运算符-->
<ul>
  <!-- 数学运算符 -->
  <li>{{ 5 + 2 }}</li>
  <li>{{ 5 - 2 }}</li>
  <li>{{ 5 * 2 }}</li>
  <li>{{ 5 / 2 }}</li>
  <li>{{ 5 % 2 }}</li>

  <!-- 比较运算符 -->
  <li>{{ age > 18 }}</li>
  <li>{{ age >= 18 }}</li>
  <li>{{ age < 18 }}</li>
  <li>{{ age <= 18 }}</li>
  <li>{{ age == 18 }}</li>
  <li>{{ age != 18 }}</li>

  <!-- 三元运算符 -->
  <!-- 条件?真值:假值 -->
  <li>{{ married ? "已婚" : "未婚" }}</li>

  <!-- 逻辑运算符 -->
  <!-- 
    逻辑或 || 读或者, 松散逻辑  有真则真,全假为假
    逻辑与 && 读并且, 严格逻辑  全真则真,有假为假
    逻辑非 !  读不是, 非真为假 非假为真
   -->
  <li>{{ true && true }}</li>
  <li>{{ true && false }}</li>
  <li>{{ false || true }}</li>
  <li>{{ false && false }}</li>
  <li>{{ !false }}</li>
  <li>{{ !true }}</li>
</ul>
